.container {
  flex: 1;
}

.container img {
  width: 15.75rem;
  height: 3.32rem;
  margin-bottom: 4.2rem;
}

.container strong {
  width: 8.35rem;
  height: 2.01rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.57rem;
  line-height: 2.01rem;
  color: var(--white);
}